* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {       
  font-size: 62.5%; 
  }
body {       
font-size: 1.6rem; 
}

body {
  color: #eee;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  color: rgb(182, 187, 114);
}
a:active {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-bold {
  color: rgb(182, 187, 114);
  font-weight: bold;
}

.m-top-1 {
  margin-top: 1rem;
}

.content-container {
  width: 100vw;
  height: 100vh;
  padding: 8rem;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.logo-container {
  min-width: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  min-width: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.info-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  width: 400px;
  height: 400px;
  opacity: 1;
  z-index: 10;
}

.logo-text {
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #c6983a;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
}

.info-text {
  font-size: 1.8rem;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.social-icon {
  width: 75px;
  height: 75px;
  padding: 12px;
  border: 4px solid transparent;
  border-radius: 100px;
  transition: .3s linear, color 0s, background-color 0s;
}
.social-icon:hover {
  border-color: rgba(255, 255, 255, 0.1);
}

ul {
  list-style: none;
}

ul > li {
  &::before {
    content: "⚪";
    color: #fff;
    transform: scale(0.25);
    display: inline-block;
    animation: pulse infinite alternate 0.9s;
  }
}
/* pulse animation
ul > li:nth-child(1)::before {
  animation-delay: -0.2s;
}
ul > li:nth-child(2)::before {
  animation-delay: -0.4s;
}
ul > li:nth-child(3)::before {
  animation-delay: -0.6s;
}
ul > li:nth-child(4)::before {
  animation-delay: -0.8s;
}
ul > li:nth-child(5)::before {
  animation-delay: -1s;
}
ul > li:nth-child(6)::before {
  animation-delay: -1.2s;
}
ul > li:nth-child(7)::before {
  animation-delay: -1.4s;
}
ul > li:nth-child(8)::before {
  animation-delay: -1.6s;
}
ul > li:nth-child(9)::before {
  animation-delay: -1.8s;
}
ul > li:nth-child(10)::before {
  animation-delay: -2s;
}
@keyframes pulse {
  to {
    transform: scale(0.3);
  }
}
*/

/* CSS */
button {
  margin-top: 4rem;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #eee;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}